# 默认忽略的文件
/*
!/CheckData.py
!/ConvertFormat.py
!/CopyPaste.py
!/Crawler.py
!/EXpandData.py
!/GetParameters.py
!/MakeDataset.py
!/test.py
!/README.md
!/UI.py
!/GetURL.py
!/version.txt
!/.gitignore
!/requirements.txt
!/Update Tip.txt